/* Add here all your css styles (customizations) */
video#bgvideo {
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(placeholder.jpg) no-repeat;
    background-size: cover;
}

#ruby-background {
    width: 100%;
    height: 600px;
    background: url(../images/gray-surface.jpg) no-repeat;
    background-size: cover;
}

#video-background {
    position: relative;
}

#propoganda {
    position: absolute;
    left: 30%;
    top: 25%;
    font-size: 50px;
    color: #333;
}

#brand {
    position: absolute;
    left: 5%;
    top: 25px;
}

@media screen and (max-width: 1024px) {
    #propoganda {
        font-size: 42px;
    }
}

@media screen and (max-width: 876px) {
    #propoganda {
        font-size: 36px;
    }
}

@media screen and (max-width: 600px) {
    #propoganda {
        font-size: 30px;
    }
}